
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1{
  color: blueviolet;  
  font-size: 120px;
}

h4{
    color: darkmagenta;
    font-size: 60px;
}